:root {
    font-size: 16px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
em {
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
input, button, textarea, select {
    font: inherit;
}
.wrapper {
    margin: 1rem auto;
    max-width: 1000px;
}

.board-wrapper {
    display: flex;
    max-width: 900px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-inline: auto;
}

.game-status-overlay {
    margin: 1rem auto;
    max-width: 1000px;
    font-size: 2rem;
}

.board-tile {
    display: flex;
    flex: 0 0 250px;
    height: 250px;
    margin: 0 1% 1% 0;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(252, 252, 252);
    color: black;
    font-size: 2.5rem;
}
