:root {
    font-size: 16px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
em {
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
input, button, textarea, select {
    font: inherit;
}
.wrapper {
    margin: 1rem auto;
    max-width: 1000px;
}